h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 38px;
  line-height: 1;
  font-weight: 700;
}

.section-1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #cbcbcb;
}

.body {
  background-color: #101010;
  font-family: Helveticaneue, sans-serif;
  color: #101010;
  font-size: 0.9vw;
  line-height: 1;
  font-weight: 400;
}

.menu-bar {
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 93.75vw;
  height: 12.5vh;
  margin-right: 3.125vw;
  margin-left: 3.125vw;
  padding-bottom: 1.5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-bottom: 1px solid transparent;
}

.menu-logo {
  width: 6.785vw;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.link-block {
  margin-left: 2vw;
  opacity: 0.55;
  color: #cbcbcb;
  font-size: 0.9vw;
  line-height: 1;
  letter-spacing: -0.027vw;
  text-decoration: none;
  text-transform: uppercase;
}

.link-block.scroll-down {
  margin-left: 0vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  opacity: 1;
  color: #101010;
}

.link-block.view-profile {
  margin-left: 0vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  opacity: 1;
  color: #cbcbcb;
}

.video-holder {
  width: 93.75vw;
  height: 55.5vh;
  margin-top: 17vh;
  margin-right: 3.125vw;
  margin-left: 3.125vw;
  border-radius: 1vw;
  background-color: #000;
}

.background-video {
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.title-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7.45vh;
  margin-right: 3.125vw;
  margin-left: 3.125vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.heading {
  font-size: 3.75vw;
  line-height: 1.05;
  font-weight: 400;
  letter-spacing: -0.1125vw;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  height: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-top: 1px solid #101010;
  border-bottom: 1px solid #101010;
  text-decoration: none;
}

.lottie-animation {
  height: 1.4vh;
  margin-left: 0.75vw;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.noise-filter {
  width: 0px;
  height: 0px;
}

.section2 {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: auto;
  padding-bottom: 5vh;
  background-color: #101010;
}

.smooth-scroll-wrapper {
  background-color: #101010;
}

.smooth-scroll-embed {
  display: none;
}

.line-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 93.75vw;
  height: 13.5vh;
  margin-right: 3.125vw;
  margin-left: 3.125vw;
  padding-bottom: 0vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.content-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.65vh;
  margin-right: 3.125vw;
  margin-left: 3.125vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.paragraph-holder {
  width: 24vw;
}

.paragraph-text {
  opacity: 0.85;
  font-family: Helv, sans-serif;
  color: #cbcbcb;
  font-size: 1vw;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -0.03vw;
}

.paragraph-text.top {
  padding-top: 2vh;
}

.line {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 7.4vh;
  margin-bottom: 7.4vh;
  background-color: #cbcbcb;
  opacity: 0.5;
}

.section-title {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #cbcbcb;
  font-size: 6.25vw;
  line-height: 0.95;
  text-align: right;
  letter-spacing: -0.1875vw;
}

.line2 {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #cbcbcb;
  opacity: 0.5;
}

.big-title-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lottie-animation-2 {
  width: 10vw;
  margin-top: 4vh;
  clear: left;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.section-3 {
  position: static;
  width: 100vw;
  height: 75vh;
  background-color: #101010;
}

.paragraph-text2 {
  opacity: 0.65;
  font-family: Helv, sans-serif;
  color: #cbcbcb;
  font-size: 0.88vw;
  line-height: 1.05;
  font-weight: 300;
  letter-spacing: -0.0264vw;
}

.paragraph-text2.top {
  padding-top: 2vh;
}

.paragraph-heading {
  display: inline-block;
  padding-bottom: 0.25vh;
  border-bottom: 1px solid hsla(0, 0%, 79.6%, 0.85);
  opacity: 0.85;
  font-family: Helv, sans-serif;
  color: #cbcbcb;
  font-size: 0.88vw;
  line-height: 1.05;
  font-weight: 300;
  letter-spacing: -0.0264vw;
  text-transform: uppercase;
}

.paragraph-heading.top {
  padding-top: 2vh;
}

.member-card {
  margin-top: 9.25vh;
}

.member-card.top {
  margin-top: 6.95vh;
}

.name-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.75vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.paragraph-heading2 {
  display: inline-block;
  padding-bottom: 0.25vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 0.85;
  font-family: Helv, sans-serif;
  color: #cbcbcb;
  font-size: 0.88vw;
  line-height: 1.05;
  font-weight: 300;
  letter-spacing: -0.0264vw;
  text-transform: uppercase;
}

.paragraph-heading2.top {
  padding-top: 2vh;
}

.paragraph-heading3 {
  display: inline-block;
  padding-bottom: 0.25vh;
  opacity: 0.85;
  font-family: Helv, sans-serif;
  color: #cbcbcb;
  font-size: 0.88vw;
  line-height: 1.05;
  font-weight: 300;
  text-align: right;
  letter-spacing: -0.0264vw;
  text-transform: uppercase;
}

.paragraph-heading3.top {
  padding-top: 2vh;
}

.button2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 2.35vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  text-decoration: none;
}

.lottie-animation2 {
  height: 1.4vh;
  margin-left: 0.75vw;
}

.mobile-menu {
  display: none;
}

.section3 {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: auto;
  padding-bottom: 5vh;
  background-color: #101010;
}

@media screen and (max-width: 991px) {
  .menu-bar {
    width: 92vw;
    height: 10vh;
    margin-right: 4vw;
    margin-left: 4vw;
  }

  .menu-logo {
    width: 10vw;
  }

  .link-block {
    font-size: 1.4vw;
    letter-spacing: -0.042vw;
  }

  .link-block.scroll-down {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
  }

  .link-block.view-profile {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
  }

  .video-holder {
    width: 92vw;
    height: 60vh;
    margin-right: 4vw;
    margin-left: 4vw;
    border-radius: 2vw;
  }

  .background-video {
    border-radius: 2vw;
  }

  .title-holder {
    margin-right: 4vw;
    margin-left: 4vw;
  }

  .heading {
    font-size: 4.5vw;
  }

  .button {
    width: 28vw;
  }

  .lottie-animation {
    height: 1vh;
  }

  .paragraph-holder {
    width: 39vw;
  }

  .paragraph-text {
    font-size: 1.6vw;
    letter-spacing: -0.048vw;
  }

  .paragraph-text.top {
    padding-top: 1.5vh;
    font-size: 1.6vw;
    letter-spacing: -0.048vw;
  }

  .line {
    margin-top: 6.5vh;
    margin-bottom: 6.5vh;
  }

  .section-title {
    font-size: 7.5vw;
    letter-spacing: -0.225vw;
  }

  .paragraph-text2 {
    font-size: 1.45vw;
    letter-spacing: -0.045vw;
  }

  .paragraph-heading {
    font-size: 1.45vw;
    letter-spacing: -0.0435vw;
  }

  .member-card {
    margin-top: 7.5vh;
  }

  .member-card.top {
    margin-top: 5vh;
  }

  .paragraph-heading2 {
    font-size: 1.45vw;
    letter-spacing: -0.0435vw;
  }

  .paragraph-heading3 {
    font-size: 1.45vw;
    letter-spacing: -0.0435vw;
  }

  .lottie-animation2 {
    height: 1vh;
  }
}

@media screen and (max-width: 479px) {
  .menu-bar {
    width: 90vw;
    height: 8vh;
    margin-right: 5vw;
    margin-left: 5vw;
    padding-bottom: 1vh;
  }

  .menu-logo {
    width: 22vw;
  }

  .link-block {
    font-size: 3vw;
  }

  .link-block.scroll-down {
    padding-top: 1.75vh;
    padding-bottom: 1.75vh;
  }

  .link-block.view-profile {
    padding-top: 1.75vh;
    padding-bottom: 1.75vh;
  }

  .video-holder {
    width: 90vw;
    height: 60vh;
    margin-top: 15vh;
    margin-right: 5vw;
    margin-left: 5vw;
    border-radius: 5vw;
  }

  .background-video {
    border-radius: 5vw;
  }

  .title-holder {
    margin-top: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading {
    font-size: 6.5vw;
    letter-spacing: -0.195vw;
  }

  .button {
    width: 100%;
    margin-top: 3vh;
  }

  .lottie-animation {
    height: 1.15vh;
  }

  .line-bar {
    width: 90vw;
    height: 7.5vh;
    margin-right: 5vw;
    margin-left: 5vw;
  }

  .content-section {
    margin-top: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .paragraph-holder {
    width: 90vw;
    margin-top: 5vh;
  }

  .paragraph-text {
    font-size: 3.75vw;
    letter-spacing: -0.1125vw;
  }

  .paragraph-text.top {
    padding-top: 0vh;
    font-size: 3.75vw;
    letter-spacing: -0.1125vw;
  }

  .line {
    margin-top: 6vh;
    margin-bottom: 7.5vh;
  }

  .section-title {
    font-size: 11.5vw;
    line-height: 0.85;
    text-align: left;
    letter-spacing: -0.345vw;
  }

  .lottie-animation-2 {
    display: none;
    width: 15vw;
    margin-top: 5.5vh;
  }

  .div-block-6 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .paragraph-text2 {
    font-size: 3.3vw;
    letter-spacing: -0.099vw;
  }

  .paragraph-heading {
    font-size: 3.3vw;
    letter-spacing: -0.099vw;
  }

  .member-card {
    margin-top: 8vh;
  }

  .member-card.top {
    margin-top: 6vh;
  }

  .paragraph-heading2 {
    font-size: 3.3vw;
    letter-spacing: -0.099vw;
  }

  .paragraph-heading3 {
    font-size: 3.3vw;
    letter-spacing: -0.099vw;
  }

  .all-menu {
    display: none;
  }

  .mobile-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .text-block {
    font-size: 3.5vw;
    letter-spacing: -0.105vw;
  }

  .text-block-2 {
    font-size: 3.5vw;
    letter-spacing: -0.105vw;
  }

  .text-block-3 {
    font-size: 3.5vw;
    letter-spacing: -0.105vw;
  }
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helv';
  src: url('../fonts/helv-light.TTF') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}